# Бонусное домашнее задание (pandas).

In [81]:
import numpy as np
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [82]:
file = np.zeros(10, dtype=list)
for i in range(10):
    file[i] =  '/Users/liliamunasipova/PycharmProjects/Programing/bonus_task/Data/Students_info_' + str(i) + '.csv'

main1_df = pd.DataFrame()
main2_df = pd.DataFrame()
for i in range(10):
    data = pd.read_csv(file[i], delimiter=',')
    df = pd.DataFrame(data)
    main1_df = pd.concat([main1_df, df], axis=0, ignore_index=True)

for i in range(10):
    file[i] =  '/Users/liliamunasipova/PycharmProjects/Programing/bonus_task/Data/Students_marks_' + str(i) + '.csv'

for i in range(10):
    data = pd.read_csv(file[i], delimiter=',')
    df = pd.DataFrame(data)
    main2_df = pd.concat([main2_df, df], axis=0, ignore_index=True)

df = pd.concat([main1_df, main2_df], axis=1)

df

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,index,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,0,72,72,74
1,1,female,group C,some college,standard,completed,group1,1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,2,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,3,47,57,44
4,4,male,group C,some college,standard,none,group1,4,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...
995,995,female,group E,master's degree,standard,completed,group10,995,88,99,95
996,996,male,group C,high school,free/reduced,none,group10,996,62,55,55
997,997,female,group C,high school,free/reduced,completed,group10,997,59,71,65
998,998,female,group D,some college,standard,completed,group10,998,68,78,77
999,999,female,group D,some college,free/reduced,none,group10,999,77,86,86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [83]:
df = df.drop(columns='index')

df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [84]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [85]:
main2_df.drop(columns='index').mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [86]:
m = np.where(df.isnull())
len(m[0])

0

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [87]:
# your code here
mean_df = main2_df.drop(columns='index').T.mean()
mean_df

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Length: 1000, dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [88]:
# your code here
from unicodedata import name


results_1 = pd.DataFrame([df['math score'][df['test preparation course'] == 'completed'].mean(), 
df['writing score'][df['test preparation course'] == 'completed'].mean(),
df['reading score'][df['test preparation course'] == 'completed'].mean()])

results_2 = pd.DataFrame([df['math score'][df['test preparation course'] == 'none'].mean(), 
df['writing score'][df['test preparation course'] == 'none'].mean(),
df['reading score'][df['test preparation course'] == 'none'].mean()])
results_1.columns = ['completed']
results_2.columns = ['none']
results = pd.concat([results_1,results_2], axis = 1)
results.index = ['math score', 'writing score', 'reading score']
results

               completed       none
math score     69.695531  64.077882
writing score  74.418994  64.504673
reading score  73.893855  66.534268

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [89]:
# your code here
pd.DataFrame(df['lunch'].unique())

              0
0      standard
1  free/reduced

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [90]:
# your code here
df = df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'})
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [91]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [92]:
# your code here
from operator import ge


pd.DataFrame([len(df[df['math score']>=passmark])/len(df),
len(df[((df['gender'] =='female') & (df['math score'] < passmark) & (df['test preparation'] == 'none'))])/len(df[df['gender']=='female'])])*100

           0
0  86.500000
1  13.513514

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [93]:
# your code here
import time

start = time.time()
mas = sorted(df['race/ethnicity'].unique())
m = []
for i in mas:
    m.append(df['math score'][df['race/ethnicity'] == i].mean())
m = pd.DataFrame(m, columns=['mean'], index=mas)
end = time.time()
t1 = end - start
t1, m

(0.013558149337768555,
               mean
 group A  61.629213
 group B  63.452632
 group C  64.463950
 group D  67.362595
 group E  73.821429)

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [94]:
start = time.time()
mas = sorted(df['race/ethnicity'].unique())
m = []
for i in mas:
    g = df['math score'][df['race/ethnicity'] == i].values
    k = 0
    for j in g:
        k = k + j
    m.append(k/len(g))
m = pd.DataFrame(m, columns=['mean'], index=mas)
end = time.time()
t2 = end - start
t2-t1

-0.009865045547485352

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [95]:
pd.pivot_table(df, index=['gender', 'parental level of education'], aggfunc='mean')

KeyError: 'parental level of education'

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [97]:
df = pd.concat([df, pd.DataFrame(columns =['Math_PassStatus'])])
df['Math_PassStatus'][df['math score'] < passmark] = 'F'
df['Math_PassStatus'][df['math score'] >= passmark] = 'P'
df['Math_PassStatus'].value_counts()

/var/folders/qj/3f2vbxxd54j9q0pvgv_nd31m0000gn/T/ipykernel_49965/220825349.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Math_PassStatus'][df['math score'] < passmark] = 'F'
/var/folders/qj/3f2vbxxd54j9q0pvgv_nd31m0000gn/T/ipykernel_49965/220825349.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Math_PassStatus'][df['math score'] >= passmark] = 'P'

P    865
F    135
Name: Math_PassStatus, dtype: int64

In [98]:
df = pd.concat([df, pd.DataFrame(columns =['Reading_PassStatus'])])
df['Reading_PassStatus'][df['reading score'] < passmark] = 'F'
df['Reading_PassStatus'][df['reading score'] >= passmark] = 'P'

df = pd.concat([df, pd.DataFrame(columns =['Writing_PassStatus'])])
df['Writing_PassStatus'][df['writing score'] < passmark] = 'F'
df['Writing_PassStatus'][df['writing score'] >= passmark] = 'P'

/var/folders/qj/3f2vbxxd54j9q0pvgv_nd31m0000gn/T/ipykernel_49965/1013114140.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Reading_PassStatus'][df['reading score'] < passmark] = 'F'
/var/folders/qj/3f2vbxxd54j9q0pvgv_nd31m0000gn/T/ipykernel_49965/1013114140.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Reading_PassStatus'][df['reading score'] >= passmark] = 'P'
/var/folders/qj/3f2vbxxd54j9q0pvgv_nd31m0000gn/T/ipykernel_49965/1013114140.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Writing_PassStatus'][df['writing score'] < passmark] = 'F'
/var/folders/qj/3f2vbxxd54j9q0pvgv_nd31m0000gn/T/ipykernel_49965/1013114140.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Writing_PassStatus'][df['writing score'] >= passmark] = 'P'

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [99]:
df_copy = pd.concat([df, pd.DataFrame(columns=['OverAll_PassStatus'])])
df_copy['OverAll_PassStatus'][(df['Math_PassStatus'] == 'P')
                              & (df['Reading_PassStatus'] == 'P')
                              & (df['Writing_PassStatus'] == 'P')] = 'P'
df_copy['OverAll_PassStatus'][(df['Math_PassStatus'] != 'P')
                              | (df['Reading_PassStatus'] != 'P')
                              | (df['Writing_PassStatus'] != 'P')] = 'F'
df_copy

/var/folders/qj/3f2vbxxd54j9q0pvgv_nd31m0000gn/T/ipykernel_49965/666803261.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['OverAll_PassStatus'][(df['Math_PassStatus'] == 'P')
/var/folders/qj/3f2vbxxd54j9q0pvgv_nd31m0000gn/T/ipykernel_49965/666803261.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['OverAll_PassStatus'][(df['Math_PassStatus'] != 'P')

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72.0,72.0,74.0,P,P,P,P
1,female,group C,some college,standard,completed,group1,69.0,90.0,88.0,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90.0,95.0,93.0,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47.0,57.0,44.0,F,P,F,F
4,male,group C,some college,standard,none,group1,76.0,78.0,75.0,P,P,P,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88.0,99.0,95.0,P,P,P,P
996,male,group C,high school,free/reduced,none,group10,62.0,55.0,55.0,P,P,P,P
997,female,group C,high school,free/reduced,completed,group10,59.0,71.0,65.0,P,P,P,P
998,female,group D,some college,standard,completed,group10,68.0,78.0,77.0,P,P,P,P
999,female,group D,some college,free/reduced,none,group10,77.0,86.0,86.0,P,P,P,P

In [100]:
df = df_copy

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    90 и больше = A
####      [80;90) = B
####      [70;80) = C
####      [60;70) = D
####      [50;60) = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [102]:
MEAN = pd.concat([df['reading score'], df['math score'], df['writing score']], axis=1)
MEAN = pd.DataFrame(MEAN.T.mean(), columns=['mean'])
df = pd.concat([df, MEAN, pd.DataFrame([],columns=['Grade'])], axis = 1)

In [103]:

df['Grade'][df['mean'] >= 90.0] = 'A'
df['Grade'][(df['mean'] < 90.0) & (df['mean'] >= 80.0)] = 'A'
df['Grade'][(df['mean'] < 80.0) & (df['mean'] >= 70.0)] = 'B'
df['Grade'][(df['mean'] < 70.0) & (df['mean'] >= 60.0)] = 'C'
df['Grade'][(df['mean'] < 60.0) & (df['mean'] >= 50.0)] = 'D'
df['Grade'][df['mean'] < 50.0] = 'F'
df.drop(columns=['mean'])
df['Grade'].value_counts()

/var/folders/qj/3f2vbxxd54j9q0pvgv_nd31m0000gn/T/ipykernel_49965/556164229.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Grade'][df['mean'] >= 90.0] = 'A'
/var/folders/qj/3f2vbxxd54j9q0pvgv_nd31m0000gn/T/ipykernel_49965/556164229.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Grade'][(df['mean'] < 90.0) & (df['mean'] >= 80.0)] = 'A'
/var/folders/qj/3f2vbxxd54j9q0pvgv_nd31m0000gn/T/ipykernel_49965/556164229.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Grade'][(df['mean'] < 80.0) & (df['mean'] >= 70.0)] = 'B'
/var/folders/qj/3f2vbxxd54j9q0pvgv_nd31m0000gn/T/ipykernel_49965/556164229.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Grade'][(df['mean'] < 70.0) & (df['mean'] >= 60.0)] = 'C'
/var/folders/qj/3f2vbxxd54j9q0pvgv_nd31m0000gn/T/ipykernel_49965/556164229.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Grade'][(df['mean'] < 60.0) & (df['mean'] >= 50.0)] = 'D'
/var/folders/qj/3f2vbxxd54j9q0pvgv_nd31m0000gn/T/ipykernel_49965/556164229.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Grade'][df['mean'] < 50.0] = 'F'

B    261
C    256
A    198
D    182
F    103
Name: Grade, dtype: int64